<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>AutoOnmyoji</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="js/vue.js"></script>

    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!--<script src="js/vue.min.js"></script>-->

    <!-- Axios -->
    <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="js/axios.min.js"></script>

    <!-- Element -->
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="lib/element-ui/index.css">
    <!-- 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="lib/element-ui/index.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        #app {
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
        }

        .choice-device {
            display: flex;
            flex-flow: row wrap;
            margin: 0 20px;
            justify-content: space-between;
        }

        .funs {
            margin: 0 20px;
        }

        .run {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
    </style>
</head>
<body>
<div id="app" style="display: flex;flex-flow: column">
    <el-tabs v-model="activeName" type="border-card" style="width: 60%;margin: 0 auto;flex: 1">
        <!-- 设备连接 -->
        <el-tab-pane label="设备连接" name="connect">
            <!-- 设备连接 -->
            <div class="connect">
                <!-- 选择设备 -->
                <div class="choice-device">
                    <el-form ref="form" label-width="100px" label-position="left">
                        <el-form-item label="选择设备：">
                            <el-select v-model="device" placeholder="请选择设备:">
                                <el-option
                                        v-for="[id, status] in devices"
                                        :key="id"
                                        :label="id"
                                        :value="id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <el-button-group>
                        <el-button plain @click="getDevice">刷新</el-button>
                        <el-button plain @click="getScreen">截图</el-button>
                        <el-button plain @click="screenClose">{{ showScreen ? "隐藏截图" : "显示截图" }}
                        </el-button>
                    </el-button-group>
                </div>
                <!-- 设备截图 -->
                <el-image
                        style="margin: 20px"
                        :src="screenLink"
                        alt="截图"
                        v-if="screenLink"
                        v-show="showScreen">
                </el-image>
            </div>
        </el-tab-pane>
        <!-- 功能选择 -->
        <el-tab-pane label="功能选择" name="second">
            <!-- 功能配置 -->
            <div class="funs">
                <!-- 功能选择 -->
                <div class="choice-funs">
                    <el-form ref="form" label-width="100px" label-position="left">
                        <el-form-item label="选择功能：">
                            <el-select v-model="fun" placeholder="请选择功能:" @change="changeFuns">
                                <el-option
                                        v-for="item in FUNS"
                                        :key="item.function"
                                        :label="item.name"
                                        :value="item.function">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                </div>
                <!-- 功能介绍 -->
                <div class="info">
                    <el-divider content-position="left">{{ argsItem.name }}</el-divider>
                    <span>{{ argsItem.desc }}</span>
                    <el-divider></el-divider>
                </div>
                <!-- 功能参数 -->
                <div id="args">
                    <el-form ref="args" label-position="left"
                             v-if="argsItem.args && '{}' != JSON.stringify(argsItem.args)">
                        <template v-for="(info,arg) in argsItem.args">
                            <!-- 多选框类型 -->
                            <template v-if="info['type'] != undefined && info.type=='bool'">
                                <el-checkbox v-model="kwargs[arg]">{{info.desc}}</el-checkbox>
                            </template>
                            <!-- 数字类型 -->
                            <template v-else>
                                <el-form-item :label="info.desc">
                                    <el-input-number
                                            v-model="kwargs[arg]"
                                            controls-position="right"
                                            :min="0"
                                            placeholder="0">
                                    </el-input-number>
                                </el-form-item>
                            </template>
                        </template>
                    </el-form>
                    <p v-else>该功能不使用参数!</p>
                </div>
            </div>
            <!-- 执行任务 -->
            <div class="run">
                <el-button type="success" @click="Run">执行任务</el-button>
            </div>
        </el-tab-pane>
        <!-- 任务管理 -->
        <el-tab-pane label="任务管理" name="third">
            <!-- 正在执行的任务 -->
            <ul class="active">
                <el-table :data="actives" style="width: 100%">
                    <el-table-column type="index" width="50">
                    </el-table-column><!-- 序号 -->
                    <el-table-column prop="device" label="设备">
                    </el-table-column><!-- 设备 -->
                    <el-table-column prop="fun" label="任务">
                    </el-table-column><!-- 任务 -->
                    <el-table-column prop="status" label="状态">
                        <template slot-scope="scope">
                            <el-tag
                                    :type="scope.row.alive ? (scope.row.suspend ? 'danger' : 'success') : 'warning'"
                                    disable-transitions>{{ scope.row.alive ? (scope.row.suspend ? '已暂停' : '运行中') : '已完成'
                                }}
                            </el-tag>
                        </template>
                    </el-table-column><!-- 状态 -->
                    <el-table-column prop="alive" label="操作">
                        <template slot-scope="scope">
                            <template v-if="scope.row.alive">
                                <el-button
                                        v-if="scope.row.suspend"
                                        size="mini"
                                        type="success"
                                        @click="wakeTask(scope.row.device)">唤醒
                                </el-button>
                                <el-button
                                        v-else
                                        size="mini"
                                        type="warning"
                                        @click="suspendTask(scope.row.device)">暂停
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        @click="finishTask(scope.row.device)">结束
                                </el-button>
                            </template>
                            <p v-else>无法操作</p>
                        </template>
                    </el-table-column><!-- 操作 -->
                </el-table>
            </ul>
        </el-tab-pane>
    </el-tabs>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            activeName: 'connect', // tab页
            showScreen: false, // 是否显示截图
            screenLink: undefined,// 截图图片url
            FUNS: null, // 功能详情
            actives: [],// 活动的任务
            devices: [],// 设备列表
            device: null,// 选择的设备
            fun: null,// 选择的功能
            argsItem: {
                name: undefined,
                function: undefined,
                args: {},
                desc: undefined
            },// 功能对象
            kwargs: {},// 用户输入的功能的参数

        },
        created() {
            // 获取功能列表
            this.get_funs();
            // 获取设备
            this.getDevice();
            // 设置获取执行任务定时器
            this.getActive();
            setInterval(() => {
                console.log("定时获取运行的任务");
                this.getActive();
            }, 1000 * 30);
        },
        methods: {
            // 返回设备
            getDevice() {
                this.device = null;
                axios.post('/device').then((response) => {
                    let data = response.data;
                    if (!response.code) {
                        this.devices = data.data.filter(item => item[1] === "device");
                        if (this.devices.length) {
                            this.device = this.devices[0][0];
                        } else {
                            this.$message.error('未能获取到设备,请检查设备连接!');
                        }
                    } else {
                        this.devices = [];
                        this.$message.error('设备获取失败');
                    }
                });
            },
            // 截图
            getScreen() {
                axios.post("/screen", {device: this.device}).then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.showScreen = true;
                        this.screenLink = data.data + '?t=' + new Date().getTime();
                    }
                });
            },
            // 隐藏截图
            screenClose() {
                if (this.screenLink === undefined || this.screenLink === '') {
                    console.log("截图不存在!");
                    this.getScreen();
                } else this.showScreen = !this.showScreen;
            },
            // 获取功能列表
            get_funs() {
                axios.post("/fun").then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.FUNS = data.data;
                        this.argsItem = this.FUNS[0];
                        this.fun = this.FUNS[0].function;
                        this.kwargs = {};
                    }
                });
            },
            // 获取正在进行的任务
            getActive() {
                console.log('获取活动任务!');
                let activeList = document.getElementsByClassName('active')[0];
                axios.post("/active").then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.actives = data.data;
                    }
                })
            },
            // 切换功能
            changeFuns(fun_active) {
                console.log("切换功能至: ", fun_active);
                let self = this;
                this.FUNS.forEach(item => {
                    if (item.function === fun_active) {
                        this.kwargs = {};
                        // 解决当从有参数的功能切换至另一个有参数的功能是会丢失一个参数
                        for (let arg in item.args) {
                            this.kwargs[arg] = undefined;
                        }
                        self.argsItem = item;
                    }
                });
            },
            // 运行
            Run() {
                // 获取选择的设备
                let device = this.device;
                // 获取选择的功能
                let fun = this.fun;
                // 获取参数列表
                let kwargs = {};
                // 参数过滤,设置默认值
                for (let arg in this.kwargs) {
                    kwargs[arg] = (this.kwargs[arg] ? this.kwargs[arg] : 0);
                }
                let data = {device: device, fun: fun, kwargs: kwargs};
                console.log(data);
                axios.post("/run", data).then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.$message.success('任务以执行');
                        this.getActive();
                    } else if (data.code === 1001) {
                        this.$message.error(data.msg || data.message);
                    }
                })
            },
            // 暂停任务
            suspendTask(device) {
                axios.post("/suspend", {device: device}).then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.$message.success('任务暂停成功');
                        this.getActive()
                    } else {
                        this.$message.error(data.msg || data.message);
                    }
                });
            },
            // 唤醒任务
            wakeTask(device) {
                axios.post("/wake", {device: device}).then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.$message.success('任务唤醒成功');
                        this.getActive()
                    } else {
                        this.$message.error(data.msg || data.message);
                    }
                });
            },
            // 结束任务
            finishTask(device) {
                axios.post("/finish", {device: device}).then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.$message.success('任务已结束');
                        this.getActive()
                    } else {
                        this.$message.error(data.msg || data.message);
                    }
                });
            }
        }
    })
</script>
</body>
</html>
