<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>设备连接</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="js/vue.js"></script>

    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!--<script src="js/vue.min.js"></script>-->

    <!-- Axios -->
    <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <!-- 参数配置 -->
    <div class="config">
        <!-- 设备连接 -->
        <div class="connect">
            <div class="choice-device">
                <label for="device">选择设备：</label>
                <select id="device" v-model="device">
                    <template v-for="[id, status] in devices">
                        <option :value="id">{{id}}</option>
                    </template>
                </select>
                <button id="re-device" @click="getDevice">刷新</button>
                <button id="screen" @click="getScreen">截图</button>
                <button id="screen-close" @click="screenClose">{{ showScreen?"隐藏截图":"显示截图"}}</button>
            </div>
            <img v-show="screenLink && showScreen" class="screen-img" :src="screenLink" alt="截图">
        </div>

        <!-- 功能参数 -->
        <div class="funs">
            <div class="choice-funs">
                <label for="funs">选择功能：</label>
                <select id="funs" v-model="fun" @change="changeFuns">
                    <template v-for="item in FUNS">
                        <option :value="item.function">{{ item.name }}</option>
                    </template>
                </select>
            </div>
            <div id="args">
                <p>{{ argsItem.name }}</p>
                <p>{{ argsItem.desc }}</p>
                <template v-if="!argsItem.args"><p>该功能不使用参数!</p></template>
                <template v-else v-for="(info,arg) in argsItem.args">
                    <label>
                        <template v-if="info['type'] != undefined && info.type=='bool'">
                            <input v-model="kwargs[arg]" type="checkbox">{{info.desc}}
                        </template>
                        <template v-else=>
                            <input v-model.number="kwargs[arg]" type="number" :placeholder="info.desc">
                        </template>
                    </label>
                </template>
            </div>
        </div>
    </div>

    <!-- 执行任务 -->
    <div class="run">
        <button @click="Run">执行任务</button>
    </div>

    <!-- 活动任务 -->
    <ul class="active">
        <template v-for="active in actives">
            <li><span>设备: active.device</span><span>任务: {{ active.fun }}</span></li>
        </template>
    </ul>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            showScreen: false, // 是否显示截图
            screenLink: undefined,// 截图图片url
            FUNS: null, // 功能详情
            actives: [],// 活动的任务
            devices: [],// 设备列表
            device: null,// 选择的设备
            fun: null,// 选择的功能
            argsItem: {
                name: undefined,
                function: undefined,
                args: {},
                desc: undefined
            },// 功能对象
            kwargs: {},// 用户输入的功能的参数

        },
        created() {
            // 获取功能列表
            this.get_funs();
            // 获取设备
            this.getDevice();
            // 设置获取执行任务定时器
            setInterval(() => {
                console.log("定时获取运行的任务");
                this.getActive();
            }, 1000 * 60);
        },
        methods: {
            // 返回设备
            getDevice() {
                this.device = null;
                axios.post('/device').then((response) => {
                    let data = response.data;
                    if (!response.code) {
                        this.devices = data.data.filter(item => item[1] === "device");
                        if (this.devices.length) {
                            this.device = this.devices[0][0];
                        } else {
                            alert("未能获取到设备,请检查设备连接!")
                        }
                    } else {
                        this.devices = [];
                        alert("设备获取失败");
                    }
                });
            },
            // 截图
            getScreen() {
                axios.post("/screen", {device: this.device}).then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.showScreen = true;
                        this.screenLink = data.data + '?t=' + new Date().getTime();
                    }
                });
            },
            // 隐藏截图
            screenClose() {
                if (this.screenLink === undefined || this.screenLink === '') {
                    console.log("截图不存在!");
                    this.getScreen();
                } else this.showScreen = !this.showScreen;
            },
            // 获取功能列表
            get_funs() {
                axios.post("/fun").then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.FUNS = data.data;
                        this.argsItem = this.FUNS[0];
                        this.fun = this.FUNS[0].function;
                        this.kwargs = {};
                    }
                });
            },
            // 获取正在进行的任务
            getActive() {
                console.log('获取活动任务!');
                let activeList = document.getElementsByClassName('active')[0];
                axios.post("/active").then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.actives = data.data;
                    }
                })
            },
            // 切换功能
            changeFuns(e) {
                let fun_active = e.target.value;
                console.log("切换功能至: ", fun_active);
                let self = this;
                this.FUNS.forEach(item => {
                    if (item.function === fun_active) {
                        this.kwargs = {};
                        self.argsItem = item;
                    }
                });
            },
            // 运行
            Run() {
                // 获取选择的设备
                let device = this.device;
                // 获取选择的功能
                let fun = this.fun;
                // 获取参数列表
                let kwargs = {};
                // 参数过滤,设置默认值
                for (let arg in this.kwargs) {
                    kwargs[arg] = (this.kwargs[arg] ? this.kwargs[arg] : 0);
                }
                let data = {device: device, fun: fun, kwargs: kwargs};
                console.log(data);
                axios.post("/run", data).then(response => {
                    let data = response.data;
                    if (!data.code) {
                        alert("任务以执行");
                        this.getActive();
                    } else if (data.code === 1001) {
                        alert(data.msg);
                    }
                })
            }
        }
    })
</script>
</body>
</html>
