<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>设备连接</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="js/vue.js"></script>

    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!--<script src="js/vue.min.js"></script>-->

    <!-- Axios -->
    <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <!-- 参数配置 -->
    <div class="config">
        <!-- 设备连接 -->
        <div class="connect">
            <div class="choice-device">
                <label for="device">选择设备：</label>
                <select id="device" v-model="device">
                    <template v-for="[id, status] in devices">
                        <option :value="id">{{id}}</option>
                    </template>
                </select>
                <button id="re-device" @click="getDevice">刷新</button>
                <button id="screen" @click="getScreen">截图</button>
                <button id="screen-close" @click="screenClose">{{ showScreen?"隐藏截图":"显示截图"}}</button>
            </div>
            <img v-show="screenLink && showScreen" class="screen-img" :src="screenLink" alt="截图">
        </div>

        <!-- 功能参数 -->
        <div class="funs">
            <div class="choice-funs">
                <label for="funs">选择功能：</label>
                <select id="funs" v-model="fun" @change="changeFuns">
                    <template v-for="item in FUNS">
                        <option :value="item.fun">{{ item.name }}</option>
                    </template>
                </select>
            </div>
            <div id="args">
                <p>{{ argsItem.name }}</p>
                <p>{{ argsItem.msg }}</p>
                <template v-if="argsItem.args.length === 0"><p>该功能不使用参数!</p></template>
                <template v-else v-for="(arg,i) in argsItem.args">
                    <input v-model.number="args[i]" type="number" :placeholder="arg">
                </template>
            </div>
        </div>
    </div>

    <!-- 执行任务 -->
    <div class="run">
        <button @click="Run">执行任务</button>
    </div>

    <!-- 活动任务 -->
    <ul class="active">
        <template v-for="active in actives">
            <li><span>设备: active.device</span><span>任务: {{ active.fun }}</span></li>
        </template>
    </ul>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            showScreen: false, // 是否显示截图
            screenLink: undefined,// 截图图片url
            FUNS: null, // 功能详情
            actives: [],// 活动的任务
            devices: [],// 设备列表
            device: null,// 选择的设备
            fun: null,// 选择的功能
            argsItem: {
                name: undefined,
                fun: undefined,
                args: [],
                msg: undefined
            },// 功能对象
            args: [],// 用户输入的功能的参数

        },
        created() {
            // 获取功能列表
            this.get_funs();
            // 获取设备
            this.getDevice();
            // 设置获取执行任务定时器
            setInterval(() => {
                console.log("定时获取运行的任务");
                this.getActive();
            }, 1000 * 60);
        },
        methods: {
            // 返回设备
            getDevice() {
                this.device = null;
                axios.post('/device').then((response) => {
                    let data = response.data;
                    if (!response.code) {
                        this.devices = data.data.filter(item => item[1] === "device");
                        this.device = this.devices[0][0];
                    } else {
                        this.devices = [];
                        alert("设备获取失败");
                    }
                });
            },
            // 截图
            getScreen() {
                axios.post("/screen", {device: this.device}).then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.showScreen = true;
                        this.screenLink = data.data + '?t=' + new Date().getTime();
                    }
                });
            },
            // 隐藏截图
            screenClose() {
                if (this.screenLink === undefined || this.screenLink === '') {
                    console.log("截图不存在!");
                    this.getScreen();
                } else this.showScreen = !this.showScreen;
            },
            // 获取功能列表
            get_funs() {
                this.FUNS = [
                    {
                        name: "挑战",
                        fun: "combat",
                        args: ["请输入挑战的次数"],
                        msg: "该功能用于正常的副本挑战,可适用于业原火、御灵、单人御魂、单人觉醒等场景。需要处于相应场景下,有该场景的挑战按钮。"
                    },
                    {
                        name: "业原火",
                        fun: "yeyuanhuo",
                        args: ['请输入贪的数量', '请输入嗔的数量', '请输入痴的数量'],
                        msg: "该功能用于业原火副本。可以选择贪嗔痴不同的挑战次数。需要处于庭院或业原火挑战界面。"
                    },
                    {
                        name: "组队司机",
                        fun: "zudui",
                        args: ['请输入组队的次数'],
                        msg: "该功能用于正常的组队挑战。可适应于组队御魂、觉醒等，需要先手动组队并勾选默认邀请。"
                    },
                    {
                        name: "组队乘客",
                        fun: "chengke",
                        args: ['请输入组队的次数'],
                        msg: "该功能用于正常的组队挑战。可适应于组队御魂、觉醒等，需要先勾选自动接收邀请。"
                    },
                    {
                        name: "结界突破",
                        fun: "jiejie",
                        args: [],
                        msg: "该功能用于结界突破。目前功能仍使用的老旧代码，请谨慎使用。"
                    },
                    {
                        name: "万事屋自动领取",
                        fun: "wanshiwu",
                        args: [],
                        msg: "该功能用于万事屋活动。用于自动领取奖励，需要处于庭院或万事屋主界面。"
                    },
                    {
                        name: "超鬼王",
                        fun: "chaoguiwang",
                        args: [],
                        msg: "该功能用于超鬼王活动。通过挑战单人觉醒刷超鬼王并自动击杀。需要预先配置好觉醒挑战层数和超鬼王阵容。" +
                            "可能会因为网络波动而错过检测到超鬼王弹出界面，导致错过该超鬼王，并在该超鬼王存在期间持续挑战觉醒。"
                    },
                    {
                        name: "测试",
                        fun: "test",
                        args: [],
                        msg: "该功能用于测试"
                    },
                ];
                this.argsItem = this.FUNS[0];
                this.fun = this.FUNS[0].fun;
                this.args = new Array(this.argsItem.args.length);
            },
            // 获取正在进行的任务
            getActive() {
                console.log('获取活动任务!');
                let activeList = document.getElementsByClassName('active')[0];
                axios.post("/active").then(response => {
                    let data = response.data;
                    if (!data.code) {
                        this.actives = data.data;
                    }
                })
            },
            // 切换功能
            changeFuns(e) {
                let fun_active = e.target.value;
                console.log(fun_active);
                let self = this;
                this.FUNS.forEach(item => {
                    if (item.fun === fun_active) {
                        console.log(item);
                        self.args = new Array(item.args.length);
                        console.log(self.args);
                        self.argsItem = item;
                    }
                });
            },
            // 运行
            Run() {
                // 获取选择的设备
                let device = this.device;
                // 获取选择的功能
                let fun = this.fun;
                // 获取参数列表
                let args = [];
                // 参数过滤,设置默认值
                for (let i = 0; i < this.args.length; i++) {
                    args.push(this.args[i] ? this.args[i] : 0);
                }
                let data = {device: device, fun: fun, args: args};
                console.log(data);
                axios.post("/run", data).then(response => {
                    let data = response.data;
                    if (!data.code) {
                        alert("任务以执行");
                        this.getActive();
                    } else if (data.code === 1001) {
                        alert(data.msg);
                    }
                })
            }
        }
    })
</script>
</body>
</html>
